* {box-sizing: border-box;}
header, nav, main, footer {display: block;}
main h2, main h3, main h4, main p, main div, main ul, main dl {padding-left: 3em; padding-right: 2em;}
body     {background-color: #FCEBB6; 
          background-image: url(images/background.gif);
          color: #221811;
          font-family: Verdana, Arial, sans-serif;}
#wrapper {background-color: #231814;
          width: 80%;
          margin-right: auto;
		  margin-left: auto;
          min-width: 900px;
		  max-width: 1280px;
		  box-shadow: 7px 7px 5px #404142;}
header   {background-color: #D2B48C;
          height: 150px;
          background-image: url(images/javajamlogo.jpg);
          background-repeat: no-repeat;}
h1       {padding-top: 45px;
          padding-left: 220px;
	      font-size: 3em;}
table	 {margin: auto;
	      width: 90%;
		  border-spacing: 0;
		  background-color: #ffffcc;}
td,th	 {padding: 10px;}
tr:nth-of-type(odd){background-color: #D2B48C}
nav      {text-align: center; 
          font-weight: bold; 
	      font-size: 1.5em;
	      padding-top: 10px;
	      float: left;
	      width: 200px;}
nav a    {text-decoration: none;}
nav a:link {color: #FEF6C2;}
nav a:visited {color: #D2B48C;}
nav a:hover {color: #CC9933;}
nav ul   {list-style-type: none;
          padding-left: 0;}
form     {padding:2em;}
clearleft {margin: 1em;
		   float: clear;}
label	 {float: left;
		  display: block;
		  text-align: right;
		  width: 8em;
		  padding-right: 1em;}
input	 {display: block;
		  margin-bottom: 1em}
textarea {display: block;
		  margin-bottom: 1em;
		  height: 60px;
		  width:250px;}
#mySubmit {margin-left: 9.5em;}
footer   {background-color: #D2B48C;
          font-size: small;
	      font-style: italic;
	      text-align: center;
	      padding-bottom: 10px;
	      border-top: 2px #221811 solid;}
main     {padding: 0 0 2em 0;
          margin-left: 200px;
	      background-color: #FEF6C2;
		  padding-top;}
h4       {background-color: #D2B48C;
		  font-size: 1.2em;
		  padding-left: 10px;
		  padding-bottom: 0;
		  text-transform: uppercase;
		  border-bottom: 1px solid #000033;
		  clear: left;}
audio   {display:block;
		  margin-top: 1em;}
#details {padding-left: 20%;
		  padding-right: 20%;
		  padding-bottom:10px;
		  padding-top: 1px;
		  overflow:auto;}
.floatleft {float: left;
           padding-right: 20px;
		   padding-bottom: 20px;}
img 	  {padding-left: 10px;
		   padding-right: 10px;}
#heromugs {background-size: 100% 100%;
		   height: 250px;
		   background-image:url(images/heromugs.jpg)}
#heroguitar {background-size: 100% 100%;
		   height: 250px;
		   background-image:url(images/heroguitar.jpg)}
#heroroad {background-size: 100% 100%;
		   height: 250px;
		   background-image:url(images/heroroad.jpg);}
#herocouch {background-size: 100% 100%;
		   height: 250px;
		   background-image:url(images/herocouch.jpg);}
#mobile	  {display: none;}
#desktop  {display:inline;}
@media only screen and (max-width: 1024px){
            body	 {margin: 0;
					  background-image: none;}
		    #wrapper {width: auto;
					  min-width: 0;
					  margin: 0;
					  padding: 0;
					  box-shadow: none;}
		    header   {border-bottom: 5px #FEF6C2 solid;}
		    h1		 {margin-top: 0;
					  margin-bottom: 1em;
					  padding-top: 1em;
					  font-size: 2.5em;}
		    nav		 {float: none;
					  width: auto;
					  padding-top:0;
					  margin: 10px;
					  font-size: 1.3em;}
		    nav li 	 {display:inline-block;}
			nav a 	 {padding: 1em;
					  width: 8em;
					  font-weight: bold;
					  border-style: none;}
			nav ul 	 {padding: 0;
					  margin: 0;}
			#heroguitar {padding: 0;
					  margin: 0;}
			#heromugs {padding: 0;
					  margin: 0;}
			#heroroad {padding: 0;
					  margin: 0;}
			main	  {padding: 0;
					  margin: 0;
					  font-size: 90%}}
@media only screen and (max-width: 768px){
		    header   {background-image:url(images/javajammini.jpg);
					  height: 128px;}
		    h1		 {text-align: center;
					  padding-left: 0;
					  font-size: 2em;}
		    nav		 {margin: 10px;}
		    nav li 	 {display:block;}
			nav a 	 {padding: 0.2em;
					  width: auto;
					  display: block;
					  border-bottom: 1px;
					  border-bottom-color: #FEF6C2;}
			nav ul 	 {padding: 0;
					  margin: 0;}
			#heroguitar {background-image: none;
					  height: auto;}
			#heromugs {background-image: none;
					  height: auto;}
			#heroroad {background-image: none;
					  height: auto;}
			h2 		  {padding-left: 0.5em;
					   padding-right: 0;
					   padding-bottom:0;
					   padding-top: 0.5em;
					   margin-right: 0.5em;}
			#details  {padding-left: 0;
					   padding-right: 0;}
			.floatleft {padding-left: 0.5em;
					   padding-right: 0.5em;}
			#mobile	  {display: inline;}
			#desktop  {display:none;}
			main	  {padding-top: 1px;}}
			
			